# This guys are requested for each client review
/client/ @SlavikTraktor @777PolarFox777

# This guy is requested for each problems review
/server/src/problems/ @DmitriySimakov

# These guys are requested for each review
* @777PolarFox777 @Matveyushka
