# These guys are requested for each review
* @777PolarFox777 @Matveyushka

# This guy is requested for each client review
/client/ @SlavikTraktor

# This guy is requested for each problems review
/server/src/problems/ @DmitriySimakov
