.about {
  font-weight: lighter;
  text-decoration: none;
  font-family: $main-font;
  font-size: medium;
  
  &-content{
    width: 100%;
    text-align: justify;
    padding: 20px 0; 
    margin-bottom: auto;

    p {
      margin-bottom: 1rem;
    }
  }
}




@media only screen and (max-width: $sm-screen){
  .about {
    width: 232px;
    text-align: justify;
    font-weight: lighter;
    text-decoration: none;
    font-family: $main-font;
    font-size: medium;

    &-content{
      width: 100%;
      padding: 20px 0;
      font-weight: lighter;
      overflow: auto;
      flex-direction: column;
      -ms-overflow-style: none;
      &::-webkit-scrollbar { width: 0; }
    }
  }
}