.about {
  font-weight: lighter;
  text-decoration: none;
  font-family: $main-font;
  font-size: medium;
  
  &-content{
    width: 100%;
    text-align: justify;
    padding: 20px 0;    
  }
}


@media only screen and (max-width: $sm-screen){
  .about {
    width: 232px;
    text-align: justify;
    font-weight: lighter;
    text-decoration: none;
    font-family: $main-font;
    font-size: medium;
    &-content{
      display: flex;
      width: 100%;
      padding: 20px 0 ;
      font-weight: lighter;
      overflow: auto;
      flex-direction: column;
      grid-area: c;

      grid-template:
      ". . . . . . ."             1fr 
      ". c c c c c ."             auto
      ". . . . . . ."             1fr 
      ". . f f f . ."             100px / 1fr auto auto auto auto auto 1fr;
      ;
      
      -ms-overflow-style: none;
      &::-webkit-scrollbar { width: 0; }
    }
  }
}