.contact-form {
    width: 35%; 
    font-size: 19px;
    margin-top: 10px;
    .input-field{
        display: flex;
        flex-direction: column;
        label {
            color: $primary-1;
            padding: 10px 10px 4px 10px;
        }
        input {
            border: 1px solid $primary-1;
            border-radius: 15px;
            background: none;
            font-size: 19px;
            padding: 8px 15px;
            color: $base-2;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: $base-3;
            }
        }
        .input-with-area{
            display: flex;
            flex-direction: column;
            border: 1px solid $primary-1;
            border-radius: 15px;
            padding: 8px 15px;
            input {
                border: none;
                padding: 4px 0px;
                border-radius: 0px;
                border-bottom: 1px solid $primary-1;
            }
            textarea {
                border: none;
                background: none;
                font-size: 19px;
                color: $base-2;
                font-family: inherit;
                padding: 4px 0px;
                resize: none;
                height: 200px;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: $base-3;
                }
            }
        }
        .send-form {
            display: flex;
            align-items: flex-end;
            .area-count {
                font-size: 14px;
                color: $base-3;
                padding: 3px;
            }
            .send-btn {
                margin-left: auto;
                width: 30px;
                height: 30px;
                padding-right: 5px;
                padding-bottom: 5px;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}