.contact-results {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.padding-for-modal {
    padding: 80px 45px;
  }

  .error, .success {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 40px;
    text-align: center;
  }

  .error {
    color: $error-1;
  }

  .success {
    color: $primary-1;
  }

  .button {
    color: $base-2;
    text-transform: lowercase;
    font-size: 24px;
    letter-spacing: 4px;
    text-decoration: none;
    transition: 0.2s;
    display: block;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.common-form {
  font-size: 17px;
  margin-top: 10px;
  width: 100%;

  .input-field {
    display: flex;
    flex-direction: column;

    .input-label {
      color: $primary-1;

      .label-title {
        padding: 10px 10px 4px 10px;

        &.label-error, .label-error {
          color: $error-1;
        }
      }

      .input-text {
        border: 1px solid $primary-1;
        border-radius: 15px;
        background: none;
        font-size: inherit;
        padding: 8px 15px;
        width: 100%;
        color: $base-2;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: $base-3;
        }
      }

      .input-with-area {
        display: flex;
        flex-direction: column;
        border: 1px solid $primary-1;
        border-radius: 15px;
        padding: 8px 15px;

        .input-text {
          border: none;
          padding: 4px 0px;
          border-radius: 0px;
          border-bottom: 1px solid $primary-1;
        }

        .input-area {
          border: none;
          background: none;
          font-size: inherit;
          color: $base-2;
          font-family: inherit;
          padding: 4px 0;
          resize: none;
          min-height: 150px;
          &.mini {
            min-height: 80px;
          }

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: $base-3;
          }
        }
      }

      .send-form {
        display: flex;
        align-items: flex-end;

        .area-count {
          font-size: 14px;
          color: $base-3;
          padding: 3px;
        }

        .send-btn {
          margin-left: auto;
          padding-right: 5px;
          padding-bottom: 5px;
          cursor: pointer;

          .plane-icon {
            width: 30px;
            height: 30px;
            display: inline-block;
            background-image: url('/images/plane.svg');
            background-size: cover;
            transition: 0.2s;
          }

          &:hover .plane-icon {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .form-bottom {
    margin: 0 20%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;

    button {
      font-size: 24px;
      text-decoration: none;
      transition: 0.2s;
      cursor: pointer;
      font-family: inherit;

      &:hover {
        transform: scale(1.1);
      }
    }

    button.submit {
      color: $primary-1;
    }

    button.cancel {
      color: $base-2;
    }
  }

  .border-error {
    border-color: $error-1 !important;
  }

  .two-columns {
    display: flex;
    justify-content: space-between;
    
    .input-field {
      width: 49%;
    }
  }

  .send-btn-mobile {
    display: none;
  }
}

@media only screen and (max-width: $sm-screen) {
  .contact-us {
    height: 100%;

    .main-container {
      width: 100%;
      padding: 20px 45px;
      height: 100%;

      .common-form {
        font-size: 15px;
        height: 100%;
        display: flex;
        flex-direction: column;

        .send-form {
          position: relative;

          .area-count {
            position: absolute;
            top: calc(100% + 15px);
            font-size: 12px;
          }

          .plane-icon {
            display: none !important;
          }
        }

        .send-btn-mobile {
          margin-top: 12px;
          display: flex;
          justify-content: center;

          .send-btn {
            border: 1px solid $primary-1;
            color: $primary-1;
            border-radius: 12px;
            padding: 7px 15px;
            font-size: inherit;
          }
        }

        .input-field.max-h {
          display: flex;
          flex-direction: column;
          flex-grow: 50;

          .input-label { 
            height: 100%;
            .input-with-area { 
              height: calc(100% - 35px);
              .input-area {
                height: 100%;
              }
            }
          }
        }
      }
    }

    footer {
      margin: 0 auto;
    }
  } 
}
