.header {
  &-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 600px;
    height: 100px;
    padding: 35px;
    border-bottom: 1px solid $primary-1;
    grid-area: hl;

    &-link {
      height: 100%;
    }

    &-img {
      height: 100%;
      width: auto;
    }
  }

  &-container {
    display: flex;
    margin: 0 auto;
    width: 600px;
    padding: 10px 10px 0 10px;
    justify-content: space-between;
    grid-area: nav;
  }

  &-item {
    margin: 0;
    border-radius: 18px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover a {
      color: darken($base-2, 15%);
    }

    & > a {
      color: $base-2;
      text-decoration: none;
      font-size: 18px;
      letter-spacing: 5px;
      font-family: inherit;
      padding: 10px 10px 0 10px;
      font-weight: lighter;
    }

    &.active, &.active > a {
      color: darken($base-2, 15%);
    }
  }
}

@media screen and (max-width: $sm-screen) {
  .header {
    &-logo {
      width: 232px;
      height: 56px;
      padding: 0;
      border: none;

      &-img {
        width: 232px;
        height: 56px;
        object-fit: contain;
      }
    }

    &-container {
      width: 232px;
      padding: 0;
    }

    &-item {

      & > a {
        font-size: 12px;
        padding: 0;
        letter-spacing: 0;
      }
    }
  }
}
