.play-icon {
  background-image: url(/images/play.svg);
  background-repeat: no-repeat;
  width: 100px;
  height: 120px;
  margin-top: 40px;
  transition: transform 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

.share-icon {
  background-image: url(/images/share.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: contain;
  cursor: pointer;
  position: fixed;
  right: 40px;
  bottom: 40px;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.2);
  }
}

.main-container {
  display: flex;
  margin: auto;
  width: 600px;
  flex-direction: column;
  align-items: center;

  .title {
    margin: 0;
    font-weight: lighter;
    font-size: 46px;
    color: $primary-1;
    letter-spacing: 20px;
    word-spacing: 10px;
    &:first-child {
      padding-bottom: 15px;
    }
  }
}

.main-layout {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
