.play-icon {
  background-image: url(../images/play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 180px;
  height: 180px;
  margin-top: 30px;
}

.main-container {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  & .title {
    margin: 0;
    font-weight: lighter;
    font-size: 40px;
    color: $primary-1;
    letter-spacing: 15px;
    
    &:first-child {
      margin-top: 50px;
    }
  }
  
  & .footer {
    margin-top: auto;
    
    & > p:first-child {
      letter-spacing: 5px;
      font-size: 40px;
      
      & + p {
        text-align: right;
        font-size: 20px;
      }
    }
  }
}
