.play-icon {
  background-image: url(../images/play.svg);
  background-repeat: no-repeat;
  width: 100px;
  height: 120px;
  transform: translate(0, 50%);
  transition: transform 0.5s;
  cursor: pointer;
  
  &:hover {
    transform: translate(0, 50%) scale(1.2);
  }
}

.share-icon {
  background-image: url(../images/share.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: contain;
  cursor: pointer;
  position: fixed;
  right: 40px;
  bottom: 40px;
  transition: transform 0.5s;
  
  &:hover {
    transform: scale(1.2);
  }
}

.main-container {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  & .title {
    margin: 0;
    font-weight: lighter;
    font-size: 50px;
    color: $primary-1;
    letter-spacing: 20px;
    
    &:first-child {
      margin-top: 75px;
    }
  }
}

.footer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: min-content;

  & > p:first-child {
    letter-spacing: 5px;
    font-size: 30px;

    & + p {
      text-align: right;
      padding-right: 2px;
      font-size: 20px;
      letter-spacing: 5px;
      color: $base-3;
    }
  }
}
