.play-icon {
  background-image: url(/images/play.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 120px;
  align-self: center;
  margin-top: 40px;
  transition: transform 0.5s;
  cursor: pointer;
  grid-area: p;

  &:hover {
    transform: scale(1.2);
  }
}

.share-icon {
  background-image: url(/images/share.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: contain;
  cursor: pointer;
  position: fixed;
  right: 40px;
  bottom: 40px;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.2);
  }
}

.share-buttons {
  position: fixed;
  right: 30px;
  bottom: 98px;
  transition: height 0.35s linear;
  height: 160px;
  width: 60px;
  overflow: hidden;

  &.hidden {
    height: 0;
  }

  & .vk {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(/images/vk.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }

  & .facebook {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(/images/facebook.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }

  & .twitter {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(/images/twitter.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.share-separator {
  position: fixed;
  right: 40px;
  bottom: 94px;
  height: 3px;
  width: 40px;
  opacity: 1;
  border-radius: 5px;
  transition: opacity 0.35s;
  background-color: $primary-1;

  &.hidden {
    opacity: 0;
  }
}

.main-container {
  display: flex;
  margin: auto;
  width: 600px;
  flex-direction: column;
  align-items: center;
}

.title-container {
  display: flex;
  margin: auto;
  width: 600px;
  flex-direction: column;
  align-items: center;
  grid-area: t;

  .title {
    margin: 0;
    font-weight: lighter;
    font-size: 46px;
    color: $primary-1;
    letter-spacing: 20px;
    word-spacing: 10px;
    &:first-child {
      padding-bottom: 15px;
    }
  }
}

.main-layout {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &.intro {
    display: grid;
    grid-template:
      ". . hl hl hl . ."          100px
      ". nav nav nav nav nav ."   auto
      ". . . . . . ."             1fr
      ". t t t t t ."             auto
      ". . . p . . ."             auto
      ". . . . . . ."             1fr
      ". . f f f . ."             100px / 1fr auto auto auto auto auto 1fr;
  }
}

@media only screen and (max-width: $sm-screen) {
  .play-icon {
    width: 85px;
    height: 100px;
    margin-top: 32px;
  }

  .title-container {
    width: 232px;

    .title {
      font-size: 28px;
      letter-spacing: 5px;
      word-spacing: 5px;

      &:first-child {
        padding-bottom: 0;
      }
    }
  }

  .share-icon {
    width: 32px;
    height: 32px;
    right: 16px;
    bottom: 16px;

    &.result {
      bottom: 90px;
    }
  }

  .main-layout {
    &.intro {
      grid-template:
      ". . hl hl hl . ."          auto
      ". nav nav nav nav nav ."   auto
      ". . . . . . ."             1fr
      ". t t t t t ."             auto
      ". . . p . . ."             auto
      ". . . . . . ."             1fr
      ". . f f f . ."             56px / 1fr auto auto auto auto auto 1fr;
    }
  }

  .share-buttons {
    right: 12px;
    bottom: 60px;
    height: 134px;
    width: 40px;
    overflow: hidden;

    &.result {
      bottom: 148px;
    }

    & .vk {
      width: 32px;
      height: 32px;
      margin: 10px 5px;
    }

    & .facebook {
      width: 32px;
      height: 32px;
      margin: 10px 5px;
    }

    & .twitter {
      width: 32px;
      height: 32px;
      margin: 10px 5px;
    }
  }

  .share-separator {
    position: fixed;
    right: 12px;
    bottom: 56px;
    height: 2px;
    width: 40px;
    opacity: 1;
    transition: opacity 0.35s;
    background-color: $primary-1;

    &.hidden {
      opacity: 0;
    }

    &.result {
      bottom: 144px;
    }
  }
}
