* {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: $base-4;
  margin: 0;
  color: $base-2;
  font-family: "Segoe UI Light", sans-serif;
}

button {
  background-color: $base-4;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}
