* {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Comfortaa";
  src: url('/fonts/Comfortaa.ttf');
}

body {
  background-color: $base-4;
  margin: 0;
  color: $base-2;
  font-family: $main-font;
  font-weight: lighter;
}

input{
  font-family: $main-font;
}

button {
  background-color: $base-4;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
