.text-font {
  font-weight: lighter;
  text-decoration: none;
  font-family: $main-font;
}

.statistics {
  &-content {
    display: grid;
    grid-template-rows: 100px auto 100px auto;
    place-items: center;

  }

  &-title {
    color: $primary-1;
    font-size: 20px;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &-graphs {
    width: 100%;
    grid-column: 1/2;
    grid-row:2/3;
    display: grid;
    grid-template: 
      "g1 . g2" auto 
      / 45% 10% 45% ;


      .graph1 {
        grid-area: g1;
      }
  
      .graph2 {
        grid-area: g2;
      }
  }

  &-button {
    grid-column: 1/2;
    grid-row: 3/4;

    &-text {
      color: $primary-1; 
      font-size: 20px;
      transition: transform 0.5s;
      cursor: pointer;
      
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &-graph-with-text {
    display: flex;
    flex-direction: column;
    width: 100%;  
    height: 200px;

    .graphtext {
      width: 100%;
      text-align: center;
      font-size: 13px;
      padding-top: 10px;
    }
  }

  &-footer {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

@media only screen and (max-width: $sm-screen) {
  .stats {
    margin: 0 auto;
    height: 100%;
  }

  .statistics {
    &-content {
      width: 232px;
      height: calc(100vh - 116px);
      display: grid;
      grid-template-rows: 80px auto 40px;
      
    }
  
    &-title {
      font-size: 15px;
      text-align: center;
      padding: 20px 0;
    }
  
    &-graphs {
      height: 100%;
      display: grid;
      grid-template: 
        "g1" 45%
        "."  10%
        "g2" 45% 
        / auto ;

    .graph1 {
      grid-area: g1;
      height: 100%;
    }

    .graph2 {
      grid-area: g2;
      height: 100%;
    }
    }
  
    &-button {
      padding-top: 20px;

      &-text {
        font-size: 16px;
        
        &:active {
          transform: scale(1.2);
        }
      }
    }
  
    &-graph-with-text {
      display: flex;
      flex-direction: column;
      width: 100%;  
  
      .graphtext {
        width: 100%;
        text-align: center;
        font-size: 12px;
        padding-top: 5px;
      }
    }
  }

  .footer {   
    width: 100%;
  }

}
