.stats {
  width: 70%;
  height: 350px;
  border-bottom: 1px solid $base-1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2px;

  .stats-column {
    background-color: $base-2;
    margin: 0 1px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $base-3;
    }

    &.selected {
      background-color: $primary-1;
    }
  }
}
