.textFont {
    font-weight: lighter;
    text-decoration: none;
    font-family: $main-font;

}
.statistics {

    &-title {
        color: $primary-1;
        font-size: 20px;
        margin-bottom: 80px;
    };

    &-graphs {
        display: flex;
        align-self: flex-start;
        margin-left: 30px;
        margin-bottom: 20px;
    };

    &-but {
        color: $primary-1;
        font-size: 20px;
        margin-top: 35px;
        transition: transform 0.5s;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    };

    &-graphWithText {
        display: flex;
        flex-direction: column;
        width: 450px;
        height: 200px;
        margin-left: -70px;
        margin-right: -60px;
        padding-left: 70px;
        padding-right: 70px;

        .graphtext {
            width: 100%;
            text-align: center;
            font-size: 13px;
            margin-left: -15px;
            padding-right: 65px;
            padding-top: 10px;
        }
    }
    
    

}

