%prev-next-button-common {
  display: flex;
  align-self: center;
  padding: 5px;
  margin: 0 28px;
  background-image: url("/images/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  color: $primary-1;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  transition: transform 1s;

  &:hover {
    transform: scale(1.2);
  }
}

.test-view {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;

  &-layout {
    display: flex;
    height: 100%;
  }

  &-content {
    margin: auto;
    min-width: 600px;
  }

  &-aside {
    display: flex;
    width: 100%;

    &.right {
      justify-content: flex-start;
    }

    &.left {
      justify-content: flex-end;
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 48px;
    font-size: 21px;
  }

  &-timer {
    display: flex;
    height: 48px;
    align-items: center;
    font-size: inherit;
    color: $primary-1;
    width: 33.3%;
    padding-left: 10px;
    justify-content: flex-start;
  }

  &-separator {
    width: 1px;
    background-color: $primary-1;
    margin: 0 10px;
    grid-area: sep;
  }

  &-header {
    display: flex;
    width: 545px;
    
    &.margin-left {
      margin-left: 14px;
    }
  }

  &-body {
    display: grid;
    grid-template-areas:
      "titl1 . titl2"
      "prob sep opt";
    grid-template-columns: 3fr auto 2fr;
    grid-template-rows: auto 1fr;
    margin-top: 15px;
    position: relative;
  }

  &-next-button {
    @extend %prev-next-button-common;
  }

  &-prev-button {
    @extend %prev-next-button-common;
    transform: scale(1) rotate(180deg);

    &:hover {
      transform: scale(1.2) rotate(180deg);
    }
  }

  &-finish-button {
    color: $primary-1;
    font-size: inherit;
    font-family: inherit;
    font-weight: normal;
    display: flex;
    transition: transform 1s;
    cursor: pointer;
    width: 33.3%;
    justify-content: center;

    &.instantly {
      margin-left: auto;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &-report-button {
    color: $primary-1;
    font-size: inherit;
    font-family: inherit;
    font-weight: normal;
    display: flex;
    transition: transform 1s;
    cursor: pointer;
    width: 33.3%;
    justify-content: flex-end;
    padding-right: 10px;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.problem {
  &-wrapper {
    display: grid;
    grid-template-areas: "a b c" "d e f" "g h i";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: prob;
  }

  &-title {
    font-size: 21px;
    font-family: inherit;
    font-weight: normal;
    color: $primary-1;
    text-align: center;
    margin: 0 auto;
    padding: 0 5px;
    grid-area: titl1;
    position: relative;

    &.options {
      grid-area: titl2;
    }
  }

  &-cell {
    width: 100%;
    height: auto;
    border-radius: 10px;

    &.preview {
      opacity: 0.5;
    }

    &-wrapper {
      margin: 4%;
      width: auto;
      height: auto;
      border-radius: 10px;
      border: 1px solid $primary-1;
      padding: 5px;

      &.clickable {
        cursor: pointer;
      }
  
      &.selected {
        cursor: default;
        border-color: $base-2;
        box-shadow: inset 0 0 0 1px $base-2;
  
        &.error {
          border-color: $error-1;
          box-shadow: inset 0 0 0 1px $error-1;
          border-width: 2px;
        }
      }
  
      &.right-answer {
        border-width: 2px;
        border-color: $primary-1;
        box-shadow: inset 0 0 0 1px $primary-1;
      }

      &.empty {
        border-style: dashed;
      }
    }
  }
}

.option {
  &-wrapper {
    grid-area: opt;
    display: grid;
    grid-template-areas: "a b" "c d" "e f";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: $sm-screen) {
  .test-view {
    &-content {
      margin: 0 auto;
      min-width: 80%;
      width: 80%;
    }

    &-separator {
      display: none;
    }

    &-aside {
      display: none;
    }

    &-bottom {
      font-size: 17px;
    }

    &-body {
      display: grid;
      grid-template-areas: "titl1" "prob" "titl2" "opt";
      grid-template-columns: 1fr;
      grid-template-rows: auto 3fr auto 2fr;
      margin-top: 15px;
      position: relative;
    }
  }

  .problem {
    &-title {
      background-color: $base-4;
      z-index: 15;
    }
  }

  .problem-wrapper, .option-wrapper {
    position: relative;
    &::before {
      content: "";
      top: -14px;
      left: 0;
      position: absolute;
      z-index: 14;
      background-color: $primary-1;
      width: 100%;
      height: 1px;
    }
  }

  .option {
    &-wrapper {
      display: grid;
      grid-template-areas: "a b c" "d e f";
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media only screen and (max-height: $sm-height) {
    .test-view {
      &-content {
        min-width: 65%;
        width: 65%;
      }
    }
  }
}