.test {
  &-result {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
  }

  &-title {
    color: $primary-1;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 8px;
    margin-bottom: 25px;
  }

  &-time{
    color: $primary-1;
    margin-top: 25px;
    font-size: 25px;
  }
}

@media only screen and (max-width: $sm-screen) {
  .test {
    &-title {
      margin-top: 5px;
      font-size: 18px;
      text-align: center;
      letter-spacing: 0;
    }

    &-time{
      font-size: 22px;
    }

    &-result {
      width: 75%;
      max-width: 232px;

      .stats {
        height: 250px;
        width: 100%;
      }
    }
  }
}