.test {
  &-result {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    color: $primary-1;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 8px;
    margin-bottom: 25px;
  }

  &-hint {
    padding-top: 15px;
    color: $base-1;
    font-size: 20px;
    letter-spacing: 5px;
  }

  &-time{
    display: none;
  }
}

@media only screen and (max-width: $sm-screen) {
  .test {
    &-title {
      margin-top: 5px;
      font-size: 18px;
      text-align: center;
      letter-spacing: 0;
    }

    &-hint {
      display: none;
    }

    &-time{
      display: block;
      color: $primary-1;
      margin-top: 25px;
    }

    &-result {
      width: 75%;
      max-width: 232px;

      .stats {
        height: 250px;
        width: 100%;
      }
    }
  }
}