%prev-next-button-common {
  display: flex;
  align-self: center;
  padding: 5px;
  margin: 0 28px;
  background-image: url("/images/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  color: $primary-1;
  font-family: "Segoe UI Light", sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: transform 1s;

  &:hover {
    transform: scale(1.2);
  }
}

.test-view {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;

  &-layout {
    display: flex;
    height: 100%;
  }

  &-content {
    margin: auto;
  }

  &-aside {
    display: flex;
    width: 100%;

    &.right {
      justify-content: flex-start;
    }

    &.left {
      justify-content: flex-end;
    }
  }

  &-separator {
    width: 1px;
    background-color: $primary-1;
    margin: 0 10px;
  }

  &-header {
    display: flex;
    width: 545px;
  }

  &-body {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }

  &-next-button {
    @extend %prev-next-button-common;
  }

  &-prev-button {
    @extend %prev-next-button-common;
    transform: scale(1) rotate(180deg);

    &:hover {
      transform: scale(1.2) rotate(180deg);
    }
  }

  &-finish-button {
    height: 48px;
    color: $primary-1;
    font-size: 25px;
    font-family: "Segoe UI Light", sans-serif;
    font-weight: normal;
    display: flex;
    margin: 0 auto;
    transition: transform 1s;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.problem {
  &-wrapper {
    display: grid;
    grid-template-areas: "a b c" "d e f" "g h i";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
  }

  &-title {
    font-size: 25px;
    font-family: "Segoe UI Light", sans-serif;
    font-weight: normal;
    color: $primary-1;
    text-align: center;
    margin: 0 120px 0 110px;

    &.options {
      margin: 0 55px 0 72px;
    }
  }

  &-cell {
    width: 80px;
    height: 80px;
    border: 1px solid $primary-1;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;

    &.clickable {
      cursor: pointer;
    }

    &.selected {
      cursor: default;
      border-color: $base-2;
      box-shadow: inset 0 0 0 1px $base-2;
    }
  }
}

.option {
  &-wrapper {
    display: grid;
    grid-template-areas: "a b" "c d" "e f";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
  }
}
