@import "variables";
@import "reset";
@import "Header";
@import "Footer";
@import "MainPage";
@import "Stepper";
@import "ContactUs";
@import "TestView";
@import "TestResult";
@import "StatisticChart";
@import "Loader";
@import "Modal";
@import "Statistics";
@import "Orientation";
